{
  "uuid": "QRISK3 INCREASE HDL",
  "summary": "Increase HDL",
  "indicator": "no-show",
  "detail": "Control HDL (HDL = 60 mg/dL)",
  "source": {
    "label": "",
    "url": ""
  },
  "suggestions": [
    {
      "label": "Control HDL (HDL = 60 mg/dL)",
      "uuid": "suggestion-increase-hdl",
      "actions": [
        {
          "type": "create",
          "description": "",
          "resource": {
            "resourceType": "Observation",
            "subject": {
              "reference": "Patient/{{context.patientId}}"
            },
            "status": "final",
            "effectiveDateTime": "{{effectiveDate}}",
            "code": {
              "coding": [
                {
                  "system": "http://loinc.org",
                  "code": "2085-9",
                  "display": "Cholesterol in HDL [Mass/volume] in Serum or Plasma"
                }
              ]
            },
            "valueQuantity": {
              "value": 60,
              "unit": "mg/dL",
              "system": "http://unitsofmeasure.org",
              "code": "mg/dL"
            }
          }
        }
      ]
    }
  ]
}
