{
  "uuid": "CVD CARD SCORE",
  "summary": "QRisk3 SCORE",
  "indicator": "no-show",
  "detail": "",
  "source": {
    "label": "",
    "url": ""
  },
  "suggestions": [
    {
      "label": "QRisk3 SCORE",
      "uuid": "Suggestion 1",
      "actions": [
        {
          "type": "create",
          "description": "",
          "resource": {
            "resourceType": "Observation",
            "subject": {
              "reference": "Patient/{{context.patientId}}"
            },
            "status": "final",
            "effectiveDateTime": "{{effectiveDate}}",
            "code": {
              "coding": [
                {
                  "system": "http://snomed.info/sct",
                  "code": "1085871000000105",
                  "display": "QRISK3 cardiovascular disease 10 year risk calculator score"
                }
              ]
            },
            "extension": [
              {
                "url": "https://kroniq.srdc.com.tr/fhir/StructureDefinition/context",
                "valueReference": {
                  "reference": "EpisodeOfCare/"
                }
              }
            ],
            "valueQuantity": {
              "value": {{scoreValue}},
              "unit": "%",
              "system": "http://unitsofmeasure.org",
              "code": "%"
            },
            "referenceRange": [
              {
                "high": {
                  "value": {{healthyValue}}
                }
              }
            ]
          }
        }
      ]
    }
  ]
}
