{
  "uuid": "{{uuid}}",
  "summary": "SCORE could not be calculated because at least one of the age, gender, smoking status, systolic BP, total cholesterol or HDL is not provided.",
  "indicator": "no-show",
  "detail": "",
  "source": {
    "label": "2018 ESC/ESH Guidelines for the management of arterial hypertension, Chapter None [ pp. None]",
    "url": "https://pubmed.ncbi.nlm.nih.gov/30165516"
  }
}
