{
  "uuid": "{{uuid}}",
  "summary": "SCORE value does not exist for given individual.",
  "indicator": "no-show",
  "detail": "",
  "source": {
    "label": "2018 ESC/ESH Guidelines for the management of arterial hypertension, Chapter None [ pp. None]",
    "url": "https://pubmed.ncbi.nlm.nih.gov/30165516"
  }
}
